  
  
.heading{
    margin-top: 10px;
    margin-left: 130px;
    font-weight: bold;

 text-decoration: underline;
}

.mat-elevation-z4.mat-card {
    display: inline-flex;
    flex-direction: column;
    height: 480px;
    width: 380px;
    overflow-y: none;
  
    margin: 16px;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .card-image {
    display: block;
    object-fit: cover;
    object-position: top;
    height: 200px;
  }
  
  .mat-card-title {
    font-size: 16px;
    height: 64px;
    margin: 0px 0px 5px 0px;
    font-weight:bold;
  }
  
  .mat-card-content {
    font-size: 14px;
    min-height: 100px;
    margin: 5px;
    flex-grow: 1;
    overflow: auto;
  }
  
  .line-clamp-title {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    overflow: hidden;
    -webkit-box-orient: vertical;
  }
  
  .line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    overflow: hidden;
    -webkit-box-orient: vertical;
  }
  
  .mat-card-subtitle {
    font-size: 12px;
    max-height: 16px;
  }
  
  .mat-card-actions {
    height: 36px;
    padding: 0px;
    margin: 0px ;
    margin-top: 0px;
  }
  
  .mat-card-footer {
    font-size: 12px;
    padding: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    height: 16px;
  }
  